Flask
gunicorn
python-dotenv
requests
psycopg2-binary
Flask-SQLAlchemy
Flask-Migrate
Werkzeug
pyinstaller
Flask-WTF
# Flask
# Flask-SQLAlchemy
# psycopg2-binary # Or psycopg2, depending on your system
# python-dotenv
# requests
# Flask-Migrate
# Werkzeug
# Flask-WTF
